---
import { getProjects, getProject } from '../../utils/sanity'
import PortableText from '../../components/PortableText.astro'
import MainImage from '../../components/MainImage.astro'
import { urlForImage } from '../../utils/urlForImage';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const projects = await getProjects()

  return projects.map((project) => {
    return {
      params: {slug: project.slug.current},
      props: { ...project }
    }
  });
}

const { slug } = Astro.params
const { title, category, role, mainImage, body } = Astro.props
console.log(category)

---
<BaseLayout url=`/${slug}`>
<h1>{title}</h1>
{
   mainImage ? (
      <img
        transition:name={title}
        class="card__cover"
        src={urlForImage(mainImage).width(500).height(300).url()}
        alt={mainImage.description}
      />
    ) : (
      <div class="card__cover--none" />
    )
}
<p>{role}</p>
<article>
  <PortableText portableText={body} />
</article>

</BaseLayout>

<style>
  .card__cover {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
  }

  article {
    position: relative;
    width: 70%;
    background-color: none;
  }

</style>
